@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap");
.textBold {
  font-weight: bold;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

#font {
  font-family: "Ubuntu", sans-serif;
}

.nav-color {
  background-color: #eaddb3;
}
.nav-color .container-fluid a .logo {
  height: 80px;
}
.nav-color .container-fluid a .logo:hover {
  transform: scale(1.2);
  transition: 1s;
}
.nav-color .container-fluid .nav-link {
  color: #7c2806;
}

.footer {
  display: flex;
  min-height: 15em;
  background-color: #ca9b4d;
  justify-content: space-around;
}
.footer .box {
  padding: 2em 0 2em 0;
}
.footer .box .footer__list {
  list-style: none;
}
.footer .box .footer__list .footer__list--item {
  margin-bottom: 1.5em;
  text-align: center;
}
.footer .box .footer__list .footer__list--item .footer__list--link {
  text-decoration: none;
  font-size: 1rem;
  color: #7c2806;
  font-weight: bold;
}
.footer .box .footer__list .footer__list--item .footer__list--link .footer__libro {
  width: 18em;
  margin: 1em 0 0 0;
}
.footer .box .footer__list .footer__list--item .footer__list--link .footer__libro:hover {
  transform: translate(0px, 10px) scale(0.8);
  transition: 2s;
}
.footer .box .footer__list .footer__list--item .footer__list--link:hover {
  color: #eaddb3;
  transition: 1s;
}
.footer .box .title__footer {
  color: #7c2806;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.footer .box .list {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.footer .box .list .list__icon {
  background-color: #333;
  width: 3.125em;
  height: 3.125em;
  margin: 3em 1.5em 0 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .box .list .list__icon .icon {
  color: #eaddb3;
  font-size: 1.2rem;
}
.footer .box .list .list__icon .icon:hover {
  color: #333;
  transition: 1s;
}
.footer .box .list .list__icon:hover {
  background-color: aliceblue;
  transform: rotate(360deg);
  transition: 2s;
}

.hero {
  display: flex;
  height: 30em;
  background-image: url(../multimedia/fondo.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding: 5em;
}
.hero .hero__title {
  font-size: 3rem;
  color: #feffd4;
}

.historia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30em;
}
.historia .historia__title {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
}
.historia .historia__text {
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}
.historia .historia__image {
  margin-bottom: 20px;
  width: 100%;
}

.producto__title {
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  color: #7c2806;
  font-size: 2em;
}

.producto__container {
  display: flex;
  justify-content: space-evenly;
}
.producto__container .producto {
  border: 1px solid #7c2806;
  border-radius: 1em;
  max-width: 20em;
}
.producto__container .producto .producto__image {
  width: 100%;
  height: 15em;
  border-radius: 1em 1em 0 0;
}
.producto__container .producto .producto__name {
  display: block;
  margin: 1em 1em 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #7c2806;
}
.producto__container .producto .producto__price {
  text-align: right;
  margin: 0 1em 0 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.cursos__container {
  display: flex;
  justify-content: stretch;
}
.cursos__container .cursos__left {
  width: 20%;
  padding: 1.5em;
  background-color: #8d4429;
}
.cursos__container .cursos__left .cursos__list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.cursos__container .cursos__left .cursos__list hr {
  border-top: 5px solid #ca9b4d;
}
.cursos__container .cursos__left .cursos__list .cursos__item {
  text-decoration: none;
  line-height: 3em;
  color: #ca9b4d;
  font-weight: bold;
  font-size: 1rem;
}
.cursos__container .cursos__left .cursos__list .cursos__item:hover {
  color: #eaddb3;
}
.cursos__container .cursos__right {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cursos__container .cursos__right .cursos_division {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}
.cursos__container .cursos__right .cursos_division .cursos__principal {
  text-align: center;
  color: #7c2806;
}
.cursos__container .cursos__right .cursos__box {
  margin: 1em;
  border: 0.06em solid #7d2a0c;
  padding: 0 0 0.5em 0;
  border-radius: 0.5em;
}
.cursos__container .cursos__right .cursos__box .cursos__image {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}
.cursos__container .cursos__right .cursos__box .cursos__title {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 0.5em;
  font-weight: bold;
}
.cursos__container .cursos__right .cursos__box form .cursos__button {
  display: block;
  margin: auto;
  width: 80%;
  border: 1px solid #eaddb3;
  background-color: #eaddb3;
}
.cursos__container .cursos__right .cursos__box form .cursos__button:hover {
  background-color: #7c2806;
  color: aliceblue;
  transition: 2s;
}

.novedades {
  padding: 1em;
  margin: 1.5em 10em 1.5em 10em;
}
.novedades .producto__title {
  text-align: center;
}
.novedades .novedades__container {
  display: flex;
  flex-direction: column;
}
.novedades .novedades__container .novedades__box {
  display: flex;
  padding: 1em 2em 1em 2em;
  margin: 1.5em 0 1.5em 0;
  flex-direction: row;
  border: 0.2em solid #7d2a0c;
  align-items: center;
}
.novedades .novedades__container .novedades__box .novedades__content {
  padding: 0 2em 0 0;
}
.novedades .novedades__container .novedades__box .novedades__content .novedades__notice {
  line-height: 1.2;
}
.novedades .novedades__container .novedades__box div .novedades__image {
  width: 15em;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contacto .contacto__box {
  width: 50%;
  padding: 3em;
}
.contacto .contacto__box .contacto__title {
  color: #7d2a0c;
  margin-left: 1.8em;
}
.contacto .contacto__box .formulario {
  width: 100%;
  padding: 1.9em;
}
.contacto .contacto__box .formulario .formulario__input {
  width: 100%;
  margin: 0.5em;
  padding: 0.8em;
  border: 1px solid #7d2a0c;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.contacto .contacto__box .formulario .button {
  padding: 1em 2em 1em 2em;
  background-color: #7d2a0c;
  color: #ca9b4d;
  font-size: 1em;
  font-weight: bold;
}
.contacto .contacto__box .contacto__mapa {
  width: 100%;
  height: 70vh;
}
.contacto .contacto__box .contacto__mapa .mapa {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .navbar-light .navbar-toggler {
    border: 1px solid #7c2806;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28124, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .nav-link {
    text-align: center;
  }
  .producto__container {
    flex-wrap: wrap;
  }
  .cursos__list {
    padding: 0;
  }
  .footer__libro {
    width: 16em;
    padding: 0 0 1em 0;
  }
}
@media (max-width: 850px) {
  .hero {
    padding: 4em;
  }
  .historia {
    flex-wrap: wrap;
  }
  .historia .historia__text {
    margin-bottom: 0;
  }
  .cursos__container {
    flex-direction: column;
  }
  .cursos__container .cursos__left {
    width: 100%;
  }
  .cursos__container .cursos__left .cursos__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  .cursos__container .cursos__right {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .cursos__container .cursos__right .cursos_division {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cursos__container .cursos__right .cursos__image {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .footer .box {
    padding: 0;
  }
  .footer .box .footer__list {
    padding: 0;
    text-align: center;
  }
  .footer .box .footer__list .footer__list--link {
    text-align: center;
  }
  .footer .box .list .list__icon {
    margin: 1em 0.5em 0 0.5em;
  }
  .footer .footer__center .footer__list .footer__list--item .footer__list--link .footer__libro {
    width: 16em;
    padding: 0 0 1em 0;
  }
}
@media (max-width: 575px) {
  .historia__text {
    padding: 0 10px 0 10px;
  }
  .cursos__list {
    flex-direction: column;
    align-items: center;
  }
  .cursos__list .cursos__item {
    font-size: 1rem;
  }
  .cursos__list hr {
    display: none;
  }
  .cursos__title {
    font-size: 0.9rem;
  }
}
@media (max-width: 412px) {
  .navbar .container-fluid .navbar-brand {
    margin: 0;
  }
  .navbar .container-fluid .navbar-brand .logo {
    height: 60px;
  }
  .cursos__container .cursos__right {
    grid-template-columns: 1fr;
  }
  .cursos__container .cursos__right .cursos_division {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .box .list .list__icon {
    width: 2.5em;
    height: 2.5em;
  }
}

/*# sourceMappingURL=main.css.map */
